.header {
    color: var(--highlight);
    text-shadow: 3px 2px var(--white);
    font-size: clamp(24px, 5vw, 44px);
    margin: 0;
}

.centreHorizontallyVertically {
    display: flex;
    align-items: center;
    justify-content: center;
}