.hourly-display {
    display: flex;
    gap: calc(12px + 3vw);
    overflow-x: scroll;
    padding-block: 10px;
    scroll-snap-points-x: repeat(320px);
    scroll-snap-destination: 0 0;
    scroll-snap-type: x mandatory;
    scroll-snap-type: mandatory;
}