.hourly-display-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  padding: clamp(6px, 1.8vw, 32px) clamp(10px, 2vw, 46px);
  scroll-snap-align: start;
}

.hourly-display-item > *:not(:last-child) {
  margin-block-end: clamp(12px, 1.5vh, 32px);
}

.hourly-display-item:focus,
.hourly-display-item:hover {
  background: var(--backgroundHoverFocus);
}

.hourly-display-item__icon {
  height: clamp(40px, 7vw, 323px);
  width: clamp(40px, 7vw, 323px);
}

.hourly-display-item__secondary-data {
  color: var(--text);
  font-size: clamp(12px, 2.5vw, 47px);
}

.hourly-display-item__primary-data {
  color: var(--emphasisText);
  font-weight: 700;
  font-size: clamp(18px, 3vw, 82px);
}

.hourly-display-item__image {
  fill: var(--sunnyIcon);
  width: 100%;
  height: 100%;
}
