.day-display {
  display: grid;
  grid-template-areas:
    "icon secondary secondary"
    "icon primary primary";
  grid-column-gap: calc(20px + 3vw);
  grid-row-gap: calc(20px + 1vw);
  margin-block-end: calc(20px + 4vw);
}
.day-display__icon {
  grid-area: icon;
  height: clamp(40px, 13vw, 323px);
  width: clamp(40px, 13vw, 323px);
}
.day-display__secondary-data {
  grid-area: secondary;
  color: var(--text);
  font-size: clamp(12px, 2.5vw, 47px);
  display: flex;
  justify-content: space-between;
}

.day-display__primary-data {
  grid-area: primary;
  color: var(--emphasisText);
  font-weight: 700;
  font-size: clamp(28px, 6vw, 246px);
  display: flex;
  justify-content: space-around;
  gap: clamp(20px, 4vw, 150px);
}

.day-display__primary-data--reduced-font {
  font-size: clamp(28px, 4vw, 99px);
}

.day-display__image {
  fill: var(--sunnyIcon);
  width: 100%;
  height: 100%;
}
