@import url(./colours.css);

:root {
  --text: var(--grey);
  --emphasisText: var(--white);
  --sunnyIcon: var(--yellow);
  --background: var(--navyBlue);
  --backgroundHoverFocus: var(--paleNavyBlue);
}

* {
  box-sizing: border-box ;
}

ul {
  margin: 0;
  padding:0;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

.wrapper {
  padding: calc(20px + 3vw);
}

img {
  height: 100%;
  width: 100%;
}

figure {
  margin: 0;
}
